@import url("styles/Footer.scss");
@import url("styles/Header.scss");
html{
    background-color: black;
    color: white;
    div{
        div{
            main{
                div{
                    background-color: white;
                    color: black;
                }
            }        
        }
    }
}
main{
    padding:50px 0 50px 0;
}